{% extends 'base.html' %}

{% block title %} Edit profile {% endblock %}

{% block name_page %} Edit Profile {% endblock %}

{% block main %}
    {% include 'navul.html' %}
    <div class="create_posts_class">
        <h1 style="text-align: center; color: black;">Edit your Profile</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Description:</h4>
            {{ form.description }}<br>
            <input type="file" name="myfile1">
            <button class="btn btn-success">Confirm</button>
        </form>
        <div>{{ error }}</div>
    </div>
{% endblock %}