<ul class="first_window_profile" style="width:20vw;">
    <a href="/profile" style="text-decoration: none;"><li><i class="fas fa-home"></i> Profile</li></a>
    <a href="/create_posts" style="text-decoration: none;"><li><i class="fas fa-plus"></i> Create post</li></a>
    <a href="/search_posts" style="text-decoration: none;"><li><i class="fas fa-calendar"></i> News feed</li></a>
    <a href="/edit_profile" style="text-decoration: none;"><li><i class="fas fa-address-card"></i> Edit Profile</li></a>
    <a href="" style="text-decoration: none;"><li><i class="fas fa-paper-plane"></i> Responds</li></a>
</ul>