<ul class="first_window_profile_nav">
    <a href="/profile" style="text-decoration: none;"><li><i class="fas fa-home"></i> <b>Profile</b></li></a>
    <a href="/create_posts" style="text-decoration: none;"><li><i class="fas fa-plus"></i> <b>Create post</b></li></a>
    <a href="/search_posts" style="text-decoration: none;"><li><i class="fas fa-calendar"></i> <b>News feed</b></li></a>
    <a href="/edit_profile" style="text-decoration: none;"><li><i class="fas fa-address-card"></i> <b>Edit Profile</b></li></a>
    <a href="/responds" style="text-decoration: none;"><li><i class="fas fa-paper-plane"></i> <b>Responds</b></li></a>
    <a href="/message" style="text-decoration: none;"><li><i class="fas fa-envelope-open-text"></i> <b>Dates</b></li></a>
    <a href='/logout' style="text-decoration: none;"><li><i class="fas fa-arrow-right"></i> <b>Log out</b></li></a>
</ul>