{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block name_page %} Profile {% endblock %}

{% block main %}
        <script>
            let counter = 0;
            let element;
        </script>

        <article class="article_profile">

                <ul class="first_window_profile" style="width:20vw;">
                    <a href="/create_posts" style="text-decoration: none;"><li style="list-style-type: none;">Create post</li></a>
                    <a href="/search_posts" style="text-decoration: none;"><li style="list-style-type: none;">Лента</li></a>
                </ul>
            <span>
                <div class="first_window_profile" style="width:30vw;">
                    <img src="" alt="Фото">
                    <p>Пол:---</p>
                    <p>Возраст:--</p>
                </div>
                <div class="form_posts_profile">
                    <h4>Your posts:</h4>
                    <ul>
                        {% for poll in users_polls %}
                            <li id='element'>{{ poll }}</li>
                            <script>
                                element = document.getElementById('element');
                                element.id = counter.toString();
                                counter += 1;
                                element.innerHTML = element.innerText;
                                console.log(element.innerHTML);
                            </script>
                        {% endfor %}
                    </ul>
                </div>
            </span>
            <div class="first_window_profile" style="width:30vw;">
                <h4>{{ name }}/ФИО</h4>
                <h4>Описание:</h4>
                <p>blablabla</p>
            </div>
        </article>

{% endblock %}

{% block footer %}
    <p><input type="button" value=" Log out " class = "for_button_out" onclick="window.location.href = '../logout';" ></p>
{% endblock %}
