{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block name_page %}Profile{% endblock %}

{% block main %}
        <script>
            let counter = 0;
            let element;
        </script>
        {% include 'navul.html' %}
        <article class="article_profile">

            <span>
                <div class="first_window_profile">
                    <div class="first_window_profile_fam_off">
                        <img src='{{ photo }}' alt="Фото" style="width: 40vw; border-radius: 100%; text-align: center;">
                    </div>
                    <h4 style="text-decoration: underline #eb5959;">{{ first_name }} {{ second_name }}</h4>
                    <h4>Description:</h4>
                    <p>{{ description }}</p>
                    <h5>Gender: {{ gender }}</h5>
                    <h5>Age: {{ age }}</h5>

                </div>
                {% if users_posts %}
                    {% for post in users_posts %}
                        <div class="search_posts_class">
                            <a href='' style="text-decoration: underline black;"><i class="fas fa-user"></i> {{ first_name }} {{ second_name }}</a>
                            <h3 id="element">{{ post.0 }}</h3>
                            <p>{{ post.1 }}</p>
                            <p>{{ post.2 }}</p>
                            <script>
                                element = document.getElementById('element');
                                element.id = counter.toString();
                                counter += 1;
                                element.innerHTML = element.innerText;
                                console.log(element.innerHTML);
                            </script>
                        </div>
                    {% endfor %}
                {% else %}
                    <h4 style="color: #eb5959; text-align: center;">There could be your posts here</h4>
                {% endif %}
            </span>
            <div class="first_window_profile_fam" >
                <img src='{{ photo }}' alt="Фото" style="width: 10vw; border-radius: 100%;">

            </div>
        </article>
{% endblock %}

{% block footer %}

{% endblock %}
