{% extends 'base.html' %}

{% block title %} Create Post {% endblock %}

{% block name_page %} Create Post {% endblock %}

{% block main %}
    {% include 'navul.html' %}
    <div class="create_posts_class">
        <h1 style="text-align: center; color: black;">Create your own post!</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.title }}<br>
            <p style="color: black;">What place do you want to visit?</p>
            {{ form.place }} </br>
            {{ form.full_text }}<br>

            <button class="btn btn-success" type="submit">Create post</button>
        </form>
        <div>{{ error }}</div>
    </div>

{% endblock %}