{% extends 'base.html' %}

{% block title %} Profile Guest {% endblock %}

{% block name_page %} Profile {{ article.first_name }} {{ article.second_name }}{% endblock %}

{% block main %}

        {% include 'navul.html' %}

        <article class="article_profile">
            <span>
                <div class="first_window_profile">
                    <div class="first_window_profile_fam_off">
                        <img src='{{ article.photo }}' alt="Фото" style="width: 40vw; border-radius: 100%; text-align: center;">
                    </div>
                    <h4 style="text-decoration: underline #eb5959;"> {{ article.first_name }} {{ article.second_name }}</h4>
                    <h4>Description:</h4>
                    <p>blablabla</p>
                    <h5>Gender: {{ article.gender }}</h5>
                    <h5>Age: {{ article.age }}</h5>
                </div>


            </span>
            <div class="first_window_profile_fam">
                <img src='{{ article.photo }}' alt="Фото" style="width: 10vw; border-radius: 100%;">
            </div>
        </article>

{% endblock %}
