{% extends 'base.html' %}

{% block title %} Search posts {% endblock %}

{% block name_page %} Search Posts {% endblock %}

{% block main %}
<article class="article_profile">
    {% include 'navul.html' %}
    <div class="post_view">
        {% if posts_to_show %}
            {% for el in posts_to_show %}
                <div class="search_posts_class" style="margin: 0 0 20px 0;">
                    <form method="POST">
                        {% csrf_token %}
                        {% if el.1.id != cur.id %}
                            <a href="{% url 'profile-detail' el.1.id %}" style="text-decoration: underline black;" name="pro_g"><i class="fas fa-user"></i> {{ el.1.first_name }} {{ el.1.second_name }}</a>
                        {% else %}
                            <a href="/profile" style="text-decoration: underline black;" name="pro_g"><i class="fas fa-user"></i> {{ el.1.first_name }} {{ el.1.second_name }}</a>
                        {% endif %}
                        <h3>{{ el.0.title }}</h3>
                        <p>{{ el.0.place }}</p>
                        <p>{{ el.0.full_text }}</p>


                        {% if el.1.id != cur.id %}
                            <button class="btn btn-success" type="submit"><i class="fas fa-arrow-up"></i> Respond</button>
                        {% endif %}
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас нет записей!</p>
        {% endif %}
    </div>
</article>
{% endblock %}