{% extends 'base.html' %}

{% block title %} Access denied {% endblock %}

{% block name_page %} Access denied {% endblock %}

{% block main %}
    <script>
        $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    </script>
    <div class="form_login">
        <form action="/access_denied/" method='POST'>
                <h3>Access denied</h3>
                <h4>Log in or sing up to access this page</h4>
                <p><input type="button" value=" Nav page " class="for_button" style='border-radius: 20px;' onclick="window.location.href = '../';" ></p>
                <p><input type="button" value=" Log in " class="for_button" style='border-radius: 20px;' onclick="window.location.href = '../login';" ></p>
                <p><input type="button" value=" Sign up " class="for_button" style='border-radius: 20px;' onclick="window.location.href = '../signup';" ></p>
        </form>
    </div>
{% endblock %}