{% extends 'base.html' %}

{% block title %} Log in {% endblock %}

{% block name_page %} Log in {% endblock %}

{% block main %}
    <script>
        $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    </script>
    <div class="form_login">
        <h2 class="tag" style="margin: 5% 0 0 0;">The Road to Love</h2>
        <form action='/login/' method='POST'>
            {% csrf_token %}
            <ul class="ul_login">
                <script src="js/jquery.maskedinput.min.js"></script>
                <li>{{ form.username }}</li>
                <script>
                    $(".phone_mask").mask("+7(999)999-99-99");
                </script>
                <li>{{ form.password }}</li>

                <li>{{ form.coordinate }}</li>
                <script>

                    var x = document.getElementById("demo");

                    function getLocation() {
                    if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                    } else {
                        x.innerHTML = "Браузер не поддерживает геолокацию.";
                        }
                    }

                    function showPosition(position) {
                        x.innerHTML = position.coords.latitude + "<br>" + position.coords.longitude;
                    }
                    getLocation()
                </script>
            </ul>
            <button>Log in</button>
            <a href="/">Nav page</a>
        </form>
    </div>


    <p style="text-align: center; color: red;"> {{fail}}</p>
{% endblock %}



