{% extends 'base.html' %}

{% block title %} Sign up {% endblock %}

{% block name_page %} Sign up {% endblock %}

{% block main %}
    <script>
        $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    </script>
    <div class="form_login">
        <h2 class="tag" style="margin: 5% 0 0 0;">The Road to Love</h2>
        <form action='/signup/' method='POST'>
            {% csrf_token %}

            <ul class="ul_login">
                <li>{{ form.username }}</li>
                <li>{{ form.password }}</li>
                <li>{{ form.confirm_password }}</li>
                <li>{{ form.first_name }}</li>
                <li>{{ form.second_name }}</li>
                <li>{{ form.age }}</li>
                <li><p>Your gender: {{ form.gender }}</p></li>

                <li>{{ form.coordinate }}</li>



            <script>

            var x = document.getElementById("demo");

            function getLocation() {
            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Браузер не поддерживает геолокацию.";
                }
            }

            function showPosition(position) {
                x.innerHTML = position.coords.latitude + "<br>" + position.coords.longitude;
            }
            </script>
            </ul>
            <button onclick="getLocation()">Sign up</button>
            <a href="/">Nav page</a>
        </form>
    </div>


    <p style="text-align: center; color: red;"> {{fail}}</p>
{% endblock %}
